<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Welcome to Saint Joseph School</title>
        <!-- i should be adding meta tags here -->

        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}Purity/css/style.css" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}css/style2.css" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet" type="text/css" />

    </head>

    <body data-spy="scroll" data-target=".navbar" data-stellar-background-ratio="0.085">
        <div class="navbar-wrapper">
            <div id="navigation" class="navbar navbar-fixed-top" id="MENUX">
                <div class="navbar-inner sticky">
                    <div class="container">
                        <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right bs-docs-sidenav affix">

								{% if HOME %}
                                <li class="active">
                                    <a href="#home">Home</a>
                                </li>
                                {% endif %}

								{% if ABOOOT %}
                                <li>
                                    <a href="#aboooot">About Us</a>
                                </li>
                                {% endif %}

								{% if ADMISSION %}
                                <li class="">
                                    <a href="#admissions">Admissions</a>
                                </li>
                                {% endif %}

                                {% if EVENTS %}
                                    <li>
                                        <a href="#events">Events</a>
                                    </li>
                                {% endif %}

                                {% if GALLERY %}
                                <li>
                                    <a href="#gallery">Gallery</a>
                                </li>
                                {% endif %}

                                <li>
                                    <a href="#contactus">Contact Us</a>
                                </li>

								<li>
                                    <a href="/TheCondor/" target="_blank">Sign In</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		{% if HOME %}
        <section id="home">
            <div id="da-slider" class="da-slider">
                {% for slider in HOME %}
                    <div class="da-slide">
                        <h2 class="hidden-phone">{{ slider.image_title }}</h2>
                        <p class="hidden-phone hidden-tablet">{{ slider.image_description }}</p>
                        <div class="da-img"><img src="/{{ slider.slider_image }}" alt="--The Condor--" /></div>
                    </div>
                {% endfor %}

                <nav class="da-arrows">
                    <span class="da-arrows-prev"><i class="icon icon-3x icon-angle-left"></i></span>
                    <span class="da-arrows-next"><i class="icon icon-3x icon-angle-right"></i></span>
                </nav>
            </div>
        </section>
        {% endif %}

		{% if ABOOOT %}
        <section id="aboooot" style="padding-top: 70px; margin-top: 10px; font-size: 18px; line-height: 25px; text-align:left;">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span7 well well-large" style="color:#FAFAFA; background: rgba(0, 0, 0, 0.8); border:none;">
                        {{ ABOOOT.about_us|linebreaksbr }}
                    </div>

                    <div class="span5">
                        <img class="img-rounded" src="/{{ ABOOOT.about_image }}" alt="--The Condor--" style="width:100%; height: auto;" />
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

		{% if ADMISSION %}
        <section id="admissions" style="padding-top: 70px; margin-top: 10px; font-size: 18px; line-height: 25px;">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12 well well-large" style="background: rgba(0, 0, 0, 0.8); border:none; color:#D9D9D9;">
                        {{ ADMISSION.admissions|linebreaksbr }}
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

        {% if EVENTS %}
            <section id="events" style="padding-top: 70px; margin-top: 10px;">
				<div class="container-fluid">
					<div class="row-fluid">
						<ul class="thumbnails">
					{% for EVE in EVENTS %}
						{% if EVE.1 == 0 %}
		          			<li class="span4">
		            			<div class="thumbnail" style="border:none; box-shadow:none; background-color: rgba(255,255,128, 0.9); text-align:center; box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);">
		            				<i class="pull-right icon icon-pushpin" style="transform: rotate(36deg); padding-bottom:4px;"></i>
	            					<img alt=" " style="width: 100%; height: auto;" src="/{{ EVE.0.image }}" />

									<div class="caption">
						                <h5 class="text-error"><i class="icon-bullhorn"></i>&nbsp;{{ EVE.0.title|title }}</h5>
						                <i class="text-info"><i class="icon-time"></i>&nbsp;{{ EVE.0.event_start|date:"l, F n" }} @ {{ EVE.0.event_start|time:"h:i A" }}</i></br>
						                <i class="text-success" style="padding-bottom:4px;"><i class="icon-time"></i>&nbsp;{{ EVE.0.event_end|date:"l, F n" }} @ {{ EVE.0.event_end|time:"h:i A" }}</i>
						                <p>{{ EVE.0.event }}</p>
									</div>
								</div>
							</li>

						{% else %}
						</ul>
					</div>
					<div class="row-fluid">
						<ul class="thumbnails">
							<li class="span4">
		            			<div class="thumbnail" style="border:none; box-shadow:none; background-color: rgba(255,255,128, 0.9); text-align:center;">
		            				<i class="pull-right icon icon-pushpin" style="transform: rotate(36deg); padding-bottom:4px;"></i>
	            					<img alt=" " style="width: 100%; height: auto;" src="/{{ EVE.0.image }}" />

									<div class="caption">
						                <h5 class="text-error"><i class="icon-bullhorn"></i>&nbsp;{{ EVE.0.title|title }}</h5>
						                <i class="text-info"><i class="icon-time"></i>&nbsp;{{ EVE.0.event_start|date:"l, F n" }} @ {{ EVE.0.event_start|time:"h:i A" }}</i></br>
						                <i class="text-success" style="padding-bottom:4px;"><i class="icon-time"></i>&nbsp;{{ EVE.0.event_end|date:"l, F n" }} @ {{ EVE.0.event_end|time:"h:i A" }}</i>
						                <p>{{ EVE.0.event }}</p>
									</div>
								</div>
							</li>
						{% endif %}
					
					{% endfor %}
						</ul>
					</div>
				</div>
			</section>
        {% endif %}

        {% if GALLERY %}
            <section id="gallery" style="padding-top: 60px; margin-top: 10px;">
                <div class="container-fluid">
                    <div class="row-fluid">

                        {% for G in GALLERY %}
                        	{% if G.1 == 0 %}
		                        <div class="span3 project" img-src="{{ G.0.image }}">
		                            <img class="project-img" alt="" src="/{{ G.0.image }}" />
		                            <a href="#">
		                                <span class="overlay" style="color:#EEEEEE; padding-left:5px;">{{ G.0.image_description }}</span>
		                            </a>
		                        </div>

							{% else %}
								</div>
								<div class="row-fluid">
								<div class="span3 project" img-src="{{ G.0.image }}">
		                            <img class="project-img" alt="" src="/{{ G.0.image }}" />
		                            <a href="#">
		                                <span class="overlay" style="color:#EEEEEE; padding-left:5px;">{{ G.0.image_description }}</span>
		                            </a>
		                        </div>
	                        {% endif %}
                        {% endfor %}

                	</div>
                </div>

			    <div id="myModal" class="modal hide fade">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin:5px; color:red; text-shadow:none; opacity:1;"><i class="icon icon-off"></i></button>
				    <div class="modal-body"></div>
			    </div>
            </section>
        {% endif %}

        <section id="contactus" style="padding-top: 70px; margin-top: 10px;">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span5">
				    	<div class="row-fluid" style="padding-top:10px;">
				    		<div class="span12">
						    	<input type="text" id="NAME" class="DX span12" placeholder="Name" style="padding:8px 12px 8px 12px; height:50px; font-size:20px; border: 0 none; border-radius: 0 0 0 0;">
						    </div>
					    </div>

						{% csrf_token %}
						<div class="row-fluid" style="padding-top:10px;">
				    		<div class="span12">
						    	<input id="EMAIL" type="email" class="DX REQ span12" placeholder="Email *" style="padding:8px 12px 8px 12px; height:50px; font-size:20px; border: 0 none; border-radius: 0 0 0 0;">
						    </div>
					    </div>

						<div class="row-fluid" style="padding-top:10px;">
							<div class="span12">
								<textarea id="MESSAGE" rows="7" class="DX REQ span12" placeholder="Message *" style="font-size:20px; line-height:26px; border: 0 none; border-radius: 0 0 0 0;"></textarea>
							</div>
						</div>

						<div class="row-fluid">
							<div class="span12">
					    		<span class="pull-right text-info" style="font-weight:bold;">* Required Fields</span>
					    	</div>
					    </div>

						<div class="row-fluid" style="padding-top:10px;">
							<div class="span12">
								<button id="SUBMIT" type="button" class="btn btn-large btn-block btn-success span5"><i id="ICONX" class="icon icon-envelope"></i>&nbsp;&nbsp;<span id="MX">Send</span>&nbsp;</button>
							</div>
						</div>

					</div>

					<div class="span7">
						{% if CONTACT_US %}
						<div class="container-fluid well" style="margin-top:10px; border-radius: 0px; background-color:rgba(245, 245, 245, 0.975);">
							<div class="row-fluid" style="padding-bottom:10px;">
								<div class="span1">
									<i style="font-size:48px;" class="icon-map-marker text-info"></i>
								</div>
								<div class="span11">
									<h2 style="font-family:Quicksand_Light; font-weight:normal; font-size:48px;" class="big-h2-heading text-info">Find Us</h2>
								</div>
							</div>

							<div class="row-fluid" style="font-size:18px;">
								<div class="offset1 span11">
									<span>{{ CONTACT_US.mail_address|title }}</span>
								</div>
							</div>

							<div class="row-fluid" style="font-size:18px;">
								<div class="offset1 span11">
									<span>{{ CONTACT_US.phone }}</span>
								</div>
							</div>

							<div class="row-fluid" style="font-size:18px;">
								<div class="offset1 span11">
									<a href="mailto:{{ CONTACT_US.email }}">{{ CONTACT_US.email }}</a>
								</div>
							</div>

							<div class="row-fluid">
								<div class="span12">
									{% autoescape off %}
										{{ CONTACT_US.iframe }}
									{% endautoescape %}
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
        </section>

        <script src="{{ STATIC_URL }}jquery.js"></script>
        <script src="{{ STATIC_URL }}jquery.ui.core.min.js"></script>
        <script src="{{ STATIC_URL }}jquery.ui.effect.min.js"></script>
        <script src="{{ STATIC_URL }}jquery.ui.effect-fade.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}Purity/js/jquery.easing.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.stellar.min.js"></script>
        <script src="{{ STATIC_URL }}jquery.nicescroll.min.js"></script>
        <script src="{{ STATIC_URL }}Purity/js/jquery.easing.js"></script>
        <script src="{{ STATIC_URL }}js/modernizr.custom.28468.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.cslider.js"></script>
        <script src="{{ STATIC_URL }}js/custom.js"></script>
    </body>
</html>
