{% extends "admin/base_site.html" %}

{% block title %}
    Replying to {{ M_LIST|length }} Message{{ M_LIST|length|pluralize:"s" }} | The Condor
{% endblock title %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="/TheCondor/">Home</a><span class="divider">/</span>
        </li>

        <li>
            <a href="/TheCondor/front/">Front</a><span class="divider">/</span>
        </li>

        <li>
            <a href="/TheCondor/front/messages/">Messages</a><span class="divider">/</span>
        </li>

        <li class="active">Reply</li>
    </ul>
{% endblock breadcrumbs %}

{% block content %}
	<div class="container-fluid">
		<div class="row-fluid">
            <div class="span12 visible-desktop visible-tablet text-info">
                <h2 style="font-weight:normal;">You have selected {{ M_LIST|length }} Message{{ M_LIST|length|pluralize:"s" }}</h2>
            </div>

            <div class="span12 visible-phone text-info">
                <h3 style="font-weight:normal;">You have selected {{ M_LIST|length }} Message{{ M_LIST|length|pluralize:"s" }}</h3>
            </div>
        </div>

		<form method="post" action="reply/">
			{% csrf_token %}
			<div class="row-fluid">
                <div class="span9">
                    <input type="hidden" name="M_LIST" value='{{ M_LIST|join:"_" }}' />
                    <textarea id="MESSAGE" name="MESSAGE" placeholder="Message" rows="5" class="span12"></textarea>
                </div>
            </div>

            <div class="row-fluid">
            	<div class="span6" style="margin-bottom:5px;"></div>
                <div class="span3" style="margin-bottom:5px;">
                    <button class="btn-large btn-block btn-success"><i class="icon-envelope"></i>&nbsp;&nbsp;Send</button>
                </div>
            </div>
		</form>
	</div>
{% endblock content %}
