<!DOCTYPE HTML>

<html>
    <head>
        <title>{{ CLASS_ROOM }} | {{ STUDENTS|length }} Student{{ STUDENTS|length|pluralize:"s" }} Selected</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/font-awesome.min.css"/>
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/docs.css"/>
        <style>
            #STUDENT_LIST {
                list-style-type: none;
                margin: 0;
                padding: 0;
                font-size: 18px;
                font-weight:lighter;
            }

            #STUDENT_LIST .ui-selecting {
                background:#808080;
            }

            #STUDENT_LIST .ui-selected {
                background:#9DA0A4;
                color: #333333;
            }

            #STUDENT_LIST li {
                margin: 3px;
                padding: 0.4em;
                height: 18px;
            }
        </style>
    </head>

    <body data-target=".bs-docs-sidebar" data-spy="scroll">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3 bs-docs-sidebar">
                    <ul class="nav nav-list bs-docs-sidenav affix" style="padding:15px; border:1px solid #CCCCCC;">
                        <div style="font-size: 30px; font-weight:lighter; margin-bottom:20px;" class="muted">
                            Selected&nbsp;&nbsp;&nbsp;<span id="SELECT_COUNT" class="text-info">0</span>
                        </div>

                        <select id="TRANSFER_TO" style="width:100%; font-size:16px;">
                            {% for C in TRANSFERABLE_CLASSES %}
                                <option value="{{ C.id }}">{{ C.grade.grade }}&nbsp;-&nbsp;{{ C.section }}</option>
                            {% endfor %}
                        </select>

                        <div id="PROGRESSX" class="progress progress-striped active hide" style="margin-bottom:15px; height:25px;">
                            <div class="bar" style="width: 100%;"></div>
                        </div>

                        <button id="HIT_IT" class="btn btn-block btn-large btn-primary" style="margin-top:15px;"><i class="icon icon-external-link"></i>&nbsp;&nbsp;Transfer Student{{ STUDENTS|length|pluralize:"s" }}</button>
                        <button id="FAKE_HIT_IT" class="btn btn-block btn-large btn-primary hide" style="margin-top:15px;"><i class="icon icon-spin icon-spinner"></i>&nbsp;&nbsp;Transferring...</button>
                        <button id="TOGGLE_SELECT" class="btn btn-block btn-large" style="margin-top:10px;" mode="S"><i class="icon icon-random"></i>&nbsp;&nbsp;Toggle Select&nbsp;&nbsp;</button>
                        <a href="/TheCondor/condor/student/" class="btn btn-block btn-large btn-info" style="margin-top:10px;"><i class="icon icon-chevron-left"></i>&nbsp;&nbsp;Return to Students&nbsp;</a>

                        {% csrf_token %} <!-- this is required in order to prevent CSRF in our ajax request -->
                    </ul>
                </div>

                <div class="span9">
                    <div class="alert alert-info fade in" style="margin-top:30px; margin-bottom:-20px;">
                        <button data-dismiss="alert" class="close" type="button">×</button>
                        <i class="icon icon-info-sign"></i>&nbsp;&nbsp;Hold down "Control", "Command" on a Mac or "Left-click" to select more than one student.
                    </div>

                    <ol id="STUDENT_LIST" style="margin-top:30px;" class="">
                        {% for S in STUDENTS %}
                            <li value={{ S.id }}>{{ S.first_name }} {{ S.father_name }} {{ S.gf_name }}</li>
                        {% endfor %}
                    </ol>

                    <div id="YOU_RE_EMPTY" class="hero-unit hide">
                        <h1 style="color:#5A5A5A;">Transfer Complete!</h1>
                        <p><a href="/TheCondor/condor/student/" class="btn btn-large btn-info" style="margin-top:10px;">&nbsp;&nbsp;<i class="icon icon-chevron-left"></i>&nbsp;&nbsp;Return to Students&nbsp;&nbsp;</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div id="CAN_NOT_TRANSFER" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<span id="myModalLabel" style="font-size:18px; font-weight:lighter;" class="text-error">Error Transferring</span>
			</div>

			<div class="modal-body">
				<b>The Student list you have selected has not been transferred.</b></br>
                A student with the same details already exists.</br>
				Try transferring the student to a different class room.
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>

        <script src="{{ STATIC_URL }}jquery.js"></script>
        <script src="{{ STATIC_URL }}jquery.ui.core.min.js"></script>
        <script src="{{ STATIC_URL }}jquery.ui.widget.min.js"></script>
        <script src="{{ STATIC_URL }}jquery.ui.mouse.min.js"></script>
        <script src="{{ STATIC_URL }}jquery.ui.selectable.min.js"></script>
        <script src="{{ STATIC_URL }}jquery.ui.effect.min.js"></script>
        <script src="{{ STATIC_URL }}jquery.ui.effect-fade.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}jquery.nicescroll.min.js"></script>
        <script>
        $("document").ready (function () {
            $("html").niceScroll ({
                zindex: 2e6,
            });

            var BLOCK = false;

            $("#STUDENT_LIST").selectable ({
                stop: function () {
                    $("#SELECT_COUNT").html("0");
                    $(".ui-selected", this).each (function () { /* ittrating through ERY element which has class ui-selected, that -each- function is off-the goddamn chain, where have you been all my liiiife */
                        $("#SELECT_COUNT").html (new Number ($("#SELECT_COUNT").html()) + 1);
                    });
                }
            });

            if (!BLOCK) {
                $("#HIT_IT").click (function () {
                    $("#PROGRESSX").show (500);
                    $("#TRANSFER_TO").hide (0);
                    $("#FAKE_HIT_IT").show(0);
                    $("#HIT_IT").hide(0);
                    BLOCK = true;

                    DATA = $("input[type='hidden']").attr("name") +"="+  $("input[type='hidden']").attr("value") +"&TRANSFER_LIST="; /* This will hold the data to be sent, which includes the CSRF token */
                    $(".ui-selected").each (function () {
                        DATA += $(this).attr("value") +"_";
                    });
                    DATA = DATA.substr (0, DATA.length -1); /* Removing the last _ */
                    DATA += "&TRANSFER_TO="+ $("#TRANSFER_TO").val();

                    AJAX = $.ajax ({
                        type: "POST",
                        url: "/TheCondor/condor/student/student_transfer/",
                        data: DATA,
                    });

                    AJAX.done (function (msg) {
                        $("#PROGRESSX").hide();
                        $("#TRANSFER_TO").show("fade", 500);
                        $("#HIT_IT").show(0);
                        $("#FAKE_HIT_IT").hide(0);
                        $("#SELECT_COUNT").html(0);

                        $(".ui-selected").each (function (){
                            $(this).attr({"class": "", "value": ""});
                            $(this).hide();
                        });

                        /* checking if there are students left to be transferred */
                        REMAINING = 0;
                        $(".ui-selectee").each (function () {
                            if ($(this).attr("value").length != 0) {
                                REMAINING ++;
                            }
                        });

                        if (!REMAINING) { /* all the freaken students have been transferred, so show something */
                            $("#YOU_RE_EMPTY").show("fade", 1250);
                        }

                        BLOCK = false;
                    });

                    AJAX.error (function (msg) {
                        $("#PROGRESSX").hide ();
                        $("#TRANSFER_TO").show ("fade", 500);
                        $("#HIT_IT").show(0);
                        $("#FAKE_HIT_IT").hide(0);
                        $("#SELECT_COUNT").html(0);

                        BLOCK = false;

                        $("#CAN_NOT_TRANSFER").modal();
                    });
                });

                $("#TOGGLE_SELECT").click (function () {
                    if ($("#TOGGLE_SELECT").attr("mode") == "S") {
                        $(".ui-selectee").addClass ("ui-selected");
                        $("#TOGGLE_SELECT").attr({"mode": "C"});
                        $("#SELECT_COUNT").html($(".ui-selected").length);
                    }

                    else {
                        $(".ui-selectee").removeClass ("ui-selected");
                        $("#TOGGLE_SELECT").attr({"mode": "S"});
                        $("#SELECT_COUNT").html("0");
                    }
                });
            }
        });
        </script>
    </body>
</html>
