<!DOCTYPE HTML>

<html>
    <head>
        <title>{{USER|title}}'s Grade Report</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css"/>
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/docs.css"/>
    </head>

    <body data-target=".bs-docs-sidebar" data-spy="scroll">


    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="/TheCondor/condor/student/" class="btn btn-link RETURN" style="margin-right:20px; margin-top:0px;"><i class="icon-chevron-left"></i>&nbsp;Return to Students</a></li>

                        <li> <!-- This is where ERYthing will be stored, i.e. for the post -->
                            <form method="post" action="grade_report/" style="margin:0px;" class="form-inline">
                                {% csrf_token %}
                                <input type="hidden" id="MODE" name="MODE" value="A"/>
                                <input type="hidden" id="GRADE_REPORT" name="GRADE_REPORT" value="" />
                                <select name="SEMISTER" style="margin-top:5px; margin-right:20px;" class="span3">
                                    {% for S in  SEMISTER%}
                                        <option value="{{ S.id }}">{{ S }}</option>
                                    {% endfor %}
                                </select>
                                <button id="MEGAN_FOX" class="btn btn-success" style="margin-right:20px; margin-top:3px;"><i class="icon-white icon-ok"></i>&nbsp;&nbsp;Submit Grade Report&nbsp;&nbsp;</button>
                            </form>
                        </li>

                        <li>
                            <button id="MODEX" class="btn btn-info" style="margin-right:20px;" grade-mode="A">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='icon-white icon-plus'></i>&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </li>

                        <li>
                            <button id="RESETX" class="btn btn-danger"><i class="icon-white icon-repeat"></i>&nbsp;&nbsp;Reset Form&nbsp;</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="span3 bs-docs-sidebar">
                <ul class="nav nav-list bs-docs-sidenav affix"> <!-- This should be filled with class room with section and subject -->
                    {% for SL in SCROLL_LIST %}
                        <li class="ACTIVEX"><a href="#{{ SL.0 }}"><i class="icon-chevron-right"></i><span class="REPLACE_">{{ SL.0 }}</span></a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="span9">
                {% for SL in SCROLL_LIST %}
                    <section id="{{ SL.0 }}">
                        <div class="page-header" style="color:#5A5A5A;">
                            <span class="P_HEADER text-info" style="font-size:32px;">{{ SL.0 }}</span>
                        </div>

                        {%for S in SL.1 %}
                            <div class="row-fluid control-group {{ S.id }}_{{ SL.0 }}">
                                <div class="input-prepend row-fluid span12">
                                    <span class="add-on" style="color:#5A5A5A; width:40%;"><span class="pull-right">{{ S }}</span></span>
                                    <input class="STUDENT_GRADE_REPORT" style="width:30%;" type="text" student_mark="{{ S.id }}_{{ SL.0 }}" /> <!-- when using HTML-5 input type 'number' chrome will bitch out -->
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                {% endfor %}
            </div>
        </div>

    </div>

    <div id="INVALID_INPUT" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon icon-remove"></i></button>
            <span id="myModalLabel" style="font-size:18px; font-weight:lighter;" class="text-error">Invalid Request</span>
        </div>

        <div class="modal-body">
            <h4 class="text-error">Invalid mark input has been found</h4>
            - Make sure you haven't used any alphabetic caracters as mark input.</br>
            - If a sum is above 200 it's considered as invalid.</br>
            <h4>Separators allowed:</h4>
            <ul style="list-style:none; font-size:18px;" class="text-info">
                <li style="padding:3px;">White Space</li>
                <li style="padding:3px;">Plus +</li>
                <li style="padding:3px;">Comma ,</li>
                <li style="padding:3px;">Colon :</li>
                <li style="padding:3px;">Semicolon ;</li>
                <li style="padding:3px;">Solidus /</li>
                <li style="padding:3px;">Reverse Solidus \</li>
                <li style="padding:3px;">Vertical line |</li>
                <li style="padding:3px;">Number Sign #</li>
            </ul>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

    <script src="{{ STATIC_URL }}jquery.js"></script>
    <script src="{{ STATIC_URL }}jquery.ui.effect.min.js"></script>
    <script src="{{ STATIC_URL }}jquery.ui.effect-fade.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}jquery.nicescroll.min.js"></script>
    <script>
        $("document").ready (function () {
            $("html").niceScroll ({
                zindex: 2e6,
            });

            $("#MODEX").click (function () {
                if ($("#MODEX").attr("grade-mode") == "A") { /* Change to override mode */
                    $("#MODEX").attr({"grade-mode": "O"});
                    $("#MODEX").removeClass("btn-info");
                    $("#MODEX").addClass("btn-warning");
                    $("#MODEX").html ("&nbsp;<i class='icon-white icon-random'></i>&nbsp;&nbsp;Override&nbsp;");
                    $("#MODE").attr ({"value": "O"});
                }

                else { /* Return to ignore mode */
                    $("#MODEX").attr({"grade-mode": "A"});
                    $("#MODEX").removeClass("btn-danger");
                    $("#MODEX").addClass("btn-info");
                    $("#MODEX").html ("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='icon-white icon-plus'></i>&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
                    $("#MODE").attr ({"value": "A"});
                }
            });

            for (i = 0; i < $(".REPLACE_").length; i++) {
                $($(".REPLACE_")[i]).html($($(".REPLACE_")[i]).html().split("_").join("&nbsp;&nbsp;"));
                $($(".REPLACE_")[i]).html($($(".REPLACE_")[i]).html().split("X").join("&nbsp;"));
            }

            for (i = 0; i < $(".P_HEADER").length; i++) {
                $($(".P_HEADER")[i]).html($($(".P_HEADER")[i]).html().split("_").join("&nbsp;"));
                $($(".P_HEADER")[i]).html($($(".P_HEADER")[i]).html().split("X").join("&nbsp;"));
            }

            $($(".ACTIVEX")[0]).attr ({"class": "active"}); /* activates the first scroll spy...Speaking of activating i'll like to activate Megan Fox 16 */

            $("#RESETX").click (function () {
                var MOE_REPORTS = document.getElementsByClassName("STUDENT_GRADE_REPORT"); /* Jquery value sets the attribute value-value not the visible one, not that I know of */

                for (var i = 0; i < MOE_REPORTS.length; i++) {
                    $("."+ $(MOE_REPORTS[i]).attr("student_mark")).removeClass ("error");
                    $("."+ $(MOE_REPORTS[i]).attr("student_mark")).removeClass ("success");
                    MOE_REPORTS[i].value = "";
                }
            });
            

            $("#MEGAN_FOX").click (function () {
                var MOE_REPORTS = $(".STUDENT_GRADE_REPORT");
                var ERROR_FLAG = false;

                for (var i = 0; i < MOE_REPORTS.length; i++) {
                    $("."+ $(MOE_REPORTS[i]).attr("student_mark")).removeClass ("error");
                }

                for (var i = 0; i < MOE_REPORTS.length; i++) { /* This will give us all of the inputs on the page i.e. student mark on a particular subject */
                    if ($(MOE_REPORTS[i]).val().length) { /* we have content on the input field so we have to check for errors and stuff */
                        if (SPLIT_AND_ADD ($(MOE_REPORTS[i]).val().toString().trim()) == false) {  /* we found an error so we have to indicate it via error */
                            $("."+ $(MOE_REPORTS[i]).attr("student_mark")).addClass ("error");
                            $("."+ $(MOE_REPORTS[i]).attr("student_mark")).removeClass ("success");
                            ERROR_FLAG = true;
                        }

                        else {
                            $("."+ $(MOE_REPORTS[i]).attr("student_mark")).addClass ("success");
                            $("."+ $(MOE_REPORTS[i]).attr("student_mark")).removeClass ("error");
                        }
                    }
                }

                if (ERROR_FLAG) {
                    $("#INVALID_INPUT").modal();
                    return false;
                }

                /* preparing data to be posted, we're doing it here because ALL is well so we don't have to string manipulation */
                GRADE_REPORT = ""; /* Holds grade report to be sent */
                for (var i = 0; i < MOE_REPORTS.length; i++) {
                    if ($(MOE_REPORTS[i]).val().length) {
                        if (SPLIT_AND_ADD ($(MOE_REPORTS[i]).val().toString().trim())) {
                            GRADE_REPORT += $(MOE_REPORTS[i]).attr("student_mark") +"_"+ SPLIT_AND_ADD ($(MOE_REPORTS[i]).val().toString().trim()) + "#";
                        }
                    }
                }

                $("#GRADE_REPORT").attr({"value": GRADE_REPORT});
            });

            function SPLIT_AND_ADD (value) { /* that is just nasty...but that's what it does, honest */
                LONG = [];
                SPLIT = "";

                for (var i = 0; i < value.length; i++) {
                    /* TODO: replace condition with regular expression */
                    if (value[i] == " " || value[i] == "+" ||  value[i] == "-" || value[i] == "," || value[i] == ":" || value[i] == ";" || value[i] == "/" || value[i] == "\\" || value[i] == "|" || value[i] == "#") {
                        if (SPLIT.length > 0) { /* We have content on split......and that we do */
                            if (Number(SPLIT).toString() != "NaN") { /* TODO: Check what's returned on Chromium Browser */
                                LONG [LONG.length] = Number (SPLIT);
                            }

                            else { /* character other than a number and the splitters was found, so son error */
                                return false;
                            }
                        }

                        SPLIT = "";
                    }

                    else {
                        SPLIT += value[i];
                    }
                }

                if (SPLIT.length > 0) {
                    if (Number(SPLIT).toString() != "NaN") { /* TODO: Check what's returned on Chromium Browser */
                        LONG [LONG.length] = Number (SPLIT);
                    }

                    else { /* character other than a number and the splitters was found, so son error */
                        return false;
                    }
                }

                if (LONG.length) {
                    SUM = 0;
                    for (var i = 0; i < LONG.length; i ++) {
                        SUM += LONG [i];
                    }

                    if (SUM == 0) {
                        return "NaN";
                    }

                    else if (SUM > 200) { /* She's hot right......you know it! */
                        return false;
                    }

                    return SUM;
                }

                return false;
            }
        });
    </script>
</body>
</html>